:root {
    --main-background-color: rgb(165, 95, 42);
    --alternate-background-color: rgba(0, 0, 0, 0.7);
    --main-font-color: white;
    --alternate-font-color: rgb(214, 156, 112);
    --border-color: rgb(112, 49, 0);
    --border-pattern: 3px solid var(--border-color);
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 0.875rem;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  

p, h1, h2 {
    color: var(--alternate-font-color);
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

#menu {
    position: fixed;
    width: 50px;
    z-index: 90;
}

.navigation-icon {
    width: 50px;
}

#menu img {
    width: 100%;
    margin: 15px;
    padding: 5px;
}

#navigation {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 72.50%;
    background-color: var(--main-background-color);
    z-index: 100;
    transform: translateX(-80%);
    transition: all ease-in 0.5s;
    padding: 10vh 0vw;
    opacity: 0;
}

#navigation:hover {
    transform: translateX(0%);
    opacity: 1;
}

#navigation a {
    padding: 3vh 3.5vw;
    transition: all 0.5s;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
}

#navigation a p {
    color: var(--main-font-color);
    font-size: 150%;
    text-align: left;
    margin-left: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
}

#navigation a .navigation-icon {
    width: 50px;
}

#navigation a .navigation-icon img {
    width: 100%;
}

#navigation a:hover, #navigation a:active:after {
    background-color: var(--border-color);
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.title h1 {
    padding: 20% 0 25%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 400%;
    color: var(--main-font-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#indonesia-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./images/title-bali.jpg");
}

#yogyakarta-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./images/title-yogha.jpg");
}

#bali-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./images/temple-gate.jpg");
}

#about {
    border: var(--border-pattern);
    margin: 10% 15%;
    padding: 5% 10%;
    border-radius: 10px;
}

#about p {
    font-size: var(--font-size-large);
}

#about, #copyright {
    padding: 2.5%;
    text-align: center;
}

#about h1 {
    font-size: 360%;
}

.title, .image-inner-container{
    width: 100%;
}

.flower {
    width: 5%;
    display: block;
    margin: 0% auto;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%; 
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.title img, .image-inner-container img, #menu-icon img, .flower img {
    width: 100%; 
    display: block;
    transition: width 2s;
}

.image-inner-container img {
    position: relative;
    box-shadow: 10px 10px 20px rgba(98, 50, 2, 0.5); 
}

.description-inner-container {
    z-index: 25;
    position: relative;
    top: -130px;
    padding: 3.5%;
    margin-bottom: -10%;
    background-color: var(--alternate-background-color);
    animation: fade-out ease-out 0.25s forwards;
    cursor: pointer;
}

.description-inner-container p {
    margin-top: 1.5%;
}

.description-inner-container:hover {
    animation: fade-in ease-out 0.25s forwards;
}

@keyframes fade-in {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.5%;
    margin: 0% 3%;
}

footer {
    background-color: var(--border-color);
}

#copyright p {
    color: var(--main-font-color);
}


/* Media Queries */

/* For devices with a width between 780px and 1150px */
@media only screen and (min-width: 780px) and (max-width: 1150px) {

    #navigation {
        right: 50%;
    }

    #navigation a p {
        padding: 3vh 2.5vw;
    }

    .title h1 {
        font-size: 300%;
    }

    .flower {
        width: 7.5%;
    }

    #about h1 {
        font-size: 260%;
    }
}

/* For devices with a width up to 779px */
@media only screen and (max-width: 779px) {

    #navigation {
        right: 30%;
    }

    #navigation a p {
        padding: 3vh 5vw;
    }

    .title h1 {
        font-size: 250%;
        padding-top: 35%;
        padding-bottom: 45%;
    }

    .flower {
        width: 10%;
    }

    #about h1 {
        font-size: 160%;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}






