:root {
    --main-background-color: rgba(165, 95, 42);
    --alternate-background-color: rgba(0, 0, 0, 0.7);
    --main-font-color: #FFFFFF;
    --alternate-font-color: rgb(234, 159, 101);
    --shadow-color: rgba(246, 193, 152, 0.6);
    --border-color: rgb(112,49,0);
    --border-pattern: 3px solid var(--border-color);
    --font-size-largest: 3.0rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25rem;
    --font-size-small: 0.875rem;
    --font-size-smallest: 0.5rem;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Merriweather;
}

/* This is to 100% fit each image, icon & title into its respective container */
img, .title, .image-inner-container {
    width: 100%;
} 

p, h1, h2 {
    color: var(--alternate-font-color);
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

/* body */
.main-container {
    display: flex;
    flex-direction: column;
}

/* Navigation styles */
#menu {
    transition: all ease-in-out 0.5s;
    position: fixed;
    width: 50px;
    z-index: 90;
}

.navigation-icon {
    width: 50px;
}

#menu img {
    margin: 15px;
    padding: 5px;
}

#menu:hover {
    cursor: pointer;
}

#navigation {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 72.50%;
    background-color: var(--main-background-color);
    z-index: 100;
    transform: translateX(-80%);
    transition: all ease-in 0.5s;
    padding: 10vh 0vw;
    opacity: 0;
}

#navigation:hover {
    transform: translateX(0%);
    opacity: 1;
}

#navigation a {
    padding: 3vh 3.5vw;
    transition: all 0.5s;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
}

#navigation a p {
    color: var(--main-font-color);
    font-size: var(--font-size-large);
    text-align: left;
    margin-left: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
}

#navigation a .navigation-icon {
    width: 50px;
}

#navigation a:hover, #navigation a:active:after, #navigation a:focus, #navigation a:focus-visible {
    background-color: var(--border-color);
    text-decoration: underline;
}

/* Image Title Syles */
.title h1 {
    padding: 27.5% 0 30%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: var(--font-size-largest);
    color: var(--main-font-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#indonesia-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./images/title-bali.jpg");
}

#yogyakarta-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./images/title-yogha.jpg");
}

#bali-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./images/temple-gate.jpg");
}

/* About Styles */
#about {
    border: var(--border-pattern);
    margin: 10% 15%;
    padding: 5% 10%;
    border-radius: 10px;
}

#about p {
    font-size: var(--font-size-large);
}

#about, #copyright {
    padding: 2.5%;
    text-align: center;
}

#about h1 {
    font-size: var(--font-size-largest);
}

/* Rotating flower styles */
.rotating-flower {
    width: 5%;
    display: block;
    margin: 0% auto;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%; 
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.title img, .image-inner-container img, #menu-icon img, .rotating-flower img {
    display: block;
    transition: width 2s;
}

/* Image gallery Styles */
.image-inner-container img {
    position: relative;
    box-shadow: 10px 10px 20px var(--shadow-color); 
}

.description-inner-container {
    z-index: 25;
    position: relative;
    top: -130px;
    padding: 3.5%;
    margin-bottom: -10%;
    background-color: var(--alternate-background-color);
    animation: fade-out ease-in-out 0.25s forwards;
    cursor: pointer;
}

.description-inner-container p {
    margin-top: 1.5%;
}

.description-inner-container p, .description-inner-container h2 {
    color: var(--main-font-color);
}

.description-inner-container:hover {
    animation: fade-in ease-in-out 0.25s forwards;
}

@keyframes fade-in {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.5%;
    margin: 0% 3%;
}

/* Footer styles */
footer {
    background-color: var(--border-color);
}

#copyright p {
    color: var(--main-font-color);
}


/* Media Queries */

/* For devices with a width between 780px and 1150px */
@media only screen and (min-width: 780px) and (max-width: 1150px) {

    #navigation {
        right: 50%;
    }

    #navigation a p {
        padding: 3vh 2.5vw;
    }

    .title h1, #about h1, .description-inner-container h2 {
        font-size: var(--font-size-large);
    }

    .rotating-flower {
        width: 7.5%;
    }

    #about p, .description-inner-container p {
        font-size: var(--font-size-medium);
    }
}

/* For devices with a width up to 779px */
@media only screen and (max-width: 779px) {

    #navigation {
        right: 20%;
    }

    #navigation a p {
        padding: 3vh 5vw;
    }

    .title h1 {
        padding-top: 40%;
        padding-bottom: 45%;
    }

    .rotating-flower {
        width: 10%;
    }

    .title h1, #about h1, .description-inner-container h2 {
        font-size: var(--font-size-medium);
    }

    #about p, .description-inner-container p {
        font-size: var(--font-size-small);
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    /* Navigation styles - For mobile phones */
    #menu {
        opacity: 0;
    }

    .navigation-icon {
        width: 50px;
        display: block;
        margin: 0 auto;
    }

    #navigation {
        position: fixed;
        top: 85%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        background-color: var(--main-background-color);
        z-index: 100;
        transform: none;
        transition: all ease-in-out 0.5s;
        padding: 0;
        opacity: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #navigation:hover {
        transform: none;
    }

    #navigation a {
        padding: 3vh 0.5vw 0.5vh 0.5vw;
        transition: all 0.5s;
        display: grid;
        grid-template-columns: 1fr;
    }

    #navigation a p {
        font-size: var(--font-size-smallest);
        text-align: center;
        letter-spacing: 0;
        margin: 0;
        padding-top: 0.5vh;
    }

    #navigation a .navigation-icon {
        width: 45px;
    }

}





