* {
    --main-background-color: rgb(165, 95, 42);
    --main-font-color: white;
    --alternate-font-color: rgb(165, 95, 42);
    --border-color: rgb(86, 60, 40);
    margin: auto 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p, h1 {
    color: var(--alternate-font-color);
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

#navigation {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 80%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    transform: translateX(-97.5%);
    transition: transform ease-in 0.5s;
}

#navigation:hover {
    transform: translateX(0%);
}

#navigation p {
    color: var(--main-font-color);
    background-color: var(--main-background-color);
    padding: 7.5% 20%;
    margin: 3%;
    text-align: center;
    font-size: 150%;
    border: 3px solid var(--border-color);
    transition: background-color 0.25s;
}

#navigation p:hover {
    background-color: var(--border-color);
}

#navigation, #navigation p {
    border-radius: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.title h1 {
    padding-top: 20%;
    padding-bottom: 25%;

    text-align: center;
    font-size: 400%;
    color: var(--main-font-color);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#indonesia-title {
    background-image: url("./images/titleBali.jpg");
}

#yoghakarta-title {
    background-image: url("./images/titleyogha.jpg");
}

#bali-title {
    background-image: url("./images/templeGate.jpg");
}

#about {
    border: 3px solid var(--border-color);
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
}

#about, #copyright {
    padding: 2.5%;
    text-align: center;
}

#about h1 {
    font-size: 360%;
}

.title, .image {
    width: 100%;
}

.title img, .image img, #menu-icon img {
    width: 100%; 
    display: block;
    transition: width 2s;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image:focus-within {
    animation: fade-in ease-in 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.description {
    padding: 3%;
}

footer {
    background-color: var(--main-background-color);
}

#contact p, #copyright p {
    color: var(--main-font-color);
}

@media (max-width: 1150px) and (min-width: 779px) {

    #navigation {
        right: 77.5%;
    }

    #navigation p {
        font-size: 150%;
    }

    .title h1 {
        font-size: 300%;
    }

    #about h1 {
        font-size: 260%;
    }
}

@media (max-width: 780px) {

    #navigation {
        right: 65%;
    }

    #navigation p {
        font-size: 100%;
    }

    .title h1 {
        font-size: 200%;
    }

    #about h1 {
        font-size: 160%;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
    
    #image1         {order: 1;}
    #description1   {order: 2;}
    #image2         {order: 3;}
    #description2   {order: 4;}
    #image3         {order: 5;}
    #description3   {order: 6;}
    #image4         {order: 7;}
    #description4   {order: 8;}
    #image5         {order: 9;}
    #description5   {order: 10;}
    #image6         {order: 11;}
    #description6   {order: 12;}
    #image7         {order: 13;}
    #description7   {order: 14;}
    #image8         {order: 15;}
    #description8   {order: 16;}
    #image9         {order: 17;}
    #description9   {order: 18;}
    #image10        {order: 19;}
    #description10  {order: 20;}
    #image11        {order: 21;}
    #description11  {order: 22;}
}



